.aboutUs-panel {
    display: none; /* Скрываем по умолчанию */
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Слегка прозрачный фон */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 80%; /* Ограничиваем ширину */
    margin: 0 auto; /* Центрируем */
    z-index: 15;
}

.aboutUs-panel h2 {
    margin-bottom: 10px;
    color: #333;
}

.aboutUs-panel p, .aboutUs-panel ul {
    text-align: left; /* Или center, если хотите */
    max-width: 100%;
}

.aboutUs-panel a {
    color: #007bff; /* Стандартный цвет ссылки */
    text-decoration: none;
}

.aboutUs-panel a:hover {
    text-decoration: underline;
}

.modalsupport {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 1001;
    animation: fadeIn 0.3 ease
}

.modal-contentSup {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #00ffff;
    max-width: 850px;
    margin: 0 auto;
    padding: 2rem;
    background: #1a1a1a;
    border-radius: 15px;
    color: #fff;
    text-align: center;
}

.creator-info {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-top: 1rem;
}

.creator-details {
    flex: 1;
    text-align: left;
}

.creator-details a {
    color: #00ffff;
    text-decoration: none;
}

.creator-details a:hover {
    text-decoration: underline;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    cursor: pointer;
    color: #00ffff;
    transition: color 0.3s;
    z-index: 1001;
}

.close-btn:hover {
    color: #ff0000;
}